annotated-types
anyio
cachecontrol
cachetools
certifi
cffi
charset-normalizer
click
cryptography
dnspython
email-validator
fastapi
firebase-admin
google-api-core
google-auth
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
h2
hpack
httpcore
httpx
hyperframe
idna
msgpack
pillow
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pyjwt
python-dotenv
python-multipart
requests
rsa
sniffio
starlette
tenacity
typing-extensions
typing-inspection
urllib3
uvicorn
websockets
